@charset "UTF-8";
/* style.css */

*{
	margin: 0;
	padding: 0;	
}

body{
	background-color: #f4f4f4;	
	font-family: Arial, Helvetica, sans-serif;	
	text-transform: uppercase;
}


#wrapper{
	width: 1024px;
	height: 768px;
	margin: auto;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-color: #fff;
}

h1{
	text-align: right;
	padding: 35px 15px 0 0;	
}

a{
	color: #004480;
	text-decoration: none;
}

a:hover{
	color: #fff;
}

a img{
	border: none;	
}

/* Home Page */

section{
	width: 100%;
	height: 400px;
	margin-top: 55px;
	clear: both;	
}

section#videos_sec, section#video_only_sec {
  width:auto;
}

#products, #before_after, #videos{
	width: 300px;
	height: 150px;
	float: left;
	margin: 40px 20px 0 20px;	
	text-align: center;
}

#products img, #before_after img, #videos img{
	padding-bottom: 15px;	
}

nav h2{
	padding: 5px;
}

#products:hover h2, #before_after:hover h2, #videos:hover h2{
	background-color: #14609A;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

/* Products */


h3 img{
	float: right;
	margin: 40px 25px 25px 0;
}

.title{
	float: left;
	margin: 60px 25px 35px 30px;	
	color: #4B555C;
	font-size: 24px;
	border-bottom: 2px solid #4B555C;
	width: 350px;
	font-weight: normal;
}

#home{
	float: right;
	margin: 60px 50px 0 0;
}

#home:hover{
	border-bottom: 10px solid #14609A;
	padding-bottom: 5px;	
}


/* Videos */

#videos_sec{
	margin-left: 90px;
}

#videos_sec img{
	margin-right: 35px;	
	margin-top: 100px;
	-webkit-box-shadow: 3px 4px 5px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    3px 4px 5px rgba(50, 50, 50, 0.4);
	box-shadow:         3px 4px 5px rgba(50, 50, 50, 0.4);
}

#video_only_sec{
	margin-left: 125px;	
}

#back{
	float: left;	
	margin: 60px 0 0 40px;
}

.pp_content{
	margin-top: -35px;	
}
